@use "sass:math";

@import "../../scss/mixins";
@import "../../scss/fonts";
@import "../../scss/variables";

html {
  @media (max-width: 360px) {
    font-size: calc(100vw / 360 * 16);
  }
}

.start__block {
  justify-content: space-between;
  gap: rem(30);
}

.start__info {
  flex: 1 1 rem(400);
  justify-content: center;
}

.info__wrapepr {
  gap: rem(25);
}

.subtitle,
.title,
.description {
  font-family: "Josefin Sans", sans-serif;
}

.subtitle {
  font-weight: 600;
  font-size: clamp(rem(18), 1.67vw, rem(24));
  line-height: clamp(rem(22), 2.29vw, rem(33));
  letter-spacing: 0.1em;
  color: #ffffff;
  color: $colorMainBlue;
}

.title {
  font-weight: 700;
  font-size: clamp(rem(40), 4.86vw, rem(70));
  line-height: clamp(rem(40), 4.86vw, rem(70));
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $colorMainBlue;
  margin-top: rem(10);
}

.description {
  font-weight: 400;
  font-size: clamp(rem(14), 0.83vw, rem(16));
  line-height: clamp(rem(20), 1.11vw, rem(28));
  letter-spacing: -0.02em;
  color: $colorMainBlack;
}

.link {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: clamp(rem(14), 0.83vw, rem(16));
  line-height: clamp(rem(20), 1.11vw, rem(28));
  display: flex;
  align-items: center;
  align-self: flex-start;
  color: $colorMainBlack;

  &::after {
    content: "";
    margin-left: rem(15);
    display: block;
    width: rem(35);
    height: rem(15);
    background-image: url("./image/arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.start__img {
  flex: 1 1 rem(200);
  justify-content: center;
}

.img {
  position: relative;
  padding: 0 0 100% 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}
