@use "sass:math";

@import "../../scss/mixins";
@import "../../scss/fonts";
@import "../../scss/variables";

html {
  @media (max-width: 360px) {
    font-size: calc(100vw / 360 * 16);
  }
}

.container {
  align-self: center;
}

.wrapper {
  gap: rem(30);
}

.img {
  justify-content: center;
  padding: 0 0 30% 0;
  position: relative;

  @media (max-width: 600px) {
    padding: 0 0 60% 0;
  }

  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: contain;
  }
}

.title,
.link,
.description {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.title,
.link {
  font-weight: 700;
}

.title {
  font-size: clamp(rem(40), 3.82vw, rem(55));
  line-height: clamp(rem(55), 3.82vw, rem(70));
  color: $colorMainBlue;
}

.description {
  font-size: clamp(rem(14), 1.39vw, rem(20));
  line-height: clamp(rem(20), 1.74vw, rem(25));
  font-weight: 500;
  color: $colorMainBlack;
  opacity: 0.9;
  max-width: rem(620);
  margin: 0 auto;
}

.link {
  display: flex;
  align-self: center;
  padding: rem(10) rem(20);
  border: rem(1) solid $colorMainBlue;
  border-radius: rem(87);
  -webkit-border-radius: rem(87);
  -moz-border-radius: rem(87);
  -ms-border-radius: rem(87);
  -o-border-radius: rem(87);
  background-color: $colorMainBlue;
  color: #ffffff;
}
