@use "sass:math";

@import "../../scss/mixins";
@import "../../scss/fonts";
@import "../../scss/variables";

html {
  @media (max-width: 360px) {
    font-size: calc(100vw / 360 * 16);
  }
}

.card {
  margin: 0 rem(20);
}

.img {
  width: rem(265);
  height: rem(200);
}
