.list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 600px) {
  .list__grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}
