@use "sass:math";

@import "../../scss/mixins";
@import "../../scss/variables";

.list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 1fr;

  gap: rem(15);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack {
  margin-bottom: rem(100);
}
