@use "sass:math";

@import "../../scss/mixins";
@import "../../scss/variables";

.settings {
  position: absolute !important;
  top: rem(5);
  right: rem(5);
  z-index: 1000;

  svg {
    fill: #fff;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  padding: rem(15);
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: rem(470);
  width: 100%;
  padding: rem(15);
}
