.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.toolbarInfo {
  display: flex;
}

@media (max-width: 700px) {
  .user {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }
}

@media (max-width: 800px) {
  .user {
    display: none;
  }
  .title {
    display: none;
  }
  .toolbar {
    justify-content: space-between;
  }
}
