@use "sass:math";

@import "../../scss/mixins";
@import "../../scss/variables";

.avatar__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.post__container {
  display: grid;
  grid-template-columns: minmax(400px, 600px) minmax(200px, 350px);
  gap: rem(5);
  overflow: hidden;
}
.img {
  flex: 1 1 rem(750);
  max-height: rem(500);
}

.content {
  flex: 1 1 rem(300);
  @media (max-width: 1170px) {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }
}
