@use "sass:math";

@import "../../scss/mixins";
@import "../../scss/fonts";
@import "../../scss/variables";

html {
  @media (max-width: 360px) {
    font-size: calc(100vw / 360 * 16);
  }
}

.card {
  max-height: rem(390);
  max-width: rem(265);
  flex: 1 1 auto;
}

.card__wrapper {
  display: flex !important;
  flex-direction: column;
  flex: 1 1 auto;
}

.img {
  flex: 0 0 auto;
}

.description {
  max-height: rem(70);
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__info {
  justify-content: space-between;
}

.author {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 12px !important;
  text-transform: capitalize;
  color: $colorMainBlack;
}

.title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 18px !important;
  color: $colorMainBlack;
  padding: rem(10) 0;
}

.date {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 12px !important;
  text-transform: capitalize;
  color: $colorMainBlack;
}

.description {
  font-family: "Josefin Sans";
  margin-bottom: rem(10);
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.tags__wrapper {
  margin-top: auto;
  gap: rem(5);
}

.tags {
  display: none;

  &__active {
    display: block;
    align-self: flex-start;
    background-color: #fdc500;
    padding: rem(5) rem(10);
    color: #000000;
    font-size: rem(12);
    line-height: rem(16);
    font-weight: 600;
    border-radius: rem(5);
    -webkit-border-radius: rem(5);
    -moz-border-radius: rem(5);
    -ms-border-radius: rem(5);
    -o-border-radius: rem(5);
  }
}
