@use "sass:math";

@import "../../scss/mixins";
@import "../../scss/variables";

.wrapper {
  width: 100%;
  margin: rem(40);

  @media (max-width: 600px) {
    margin: rem(40) rem(16);
  }
}

.containerPost {
  @media (max-width: 1270px) {
    padding: 0 !important;
  }
}
